
header.my_header {
    text-align: center;
    color: #ffdd30;
    background-color:#4040E0;
    width: 100%;
    max-height: 96px;
    min-height: 96px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0px;
}

div.my_contact_form {  
    background-color:#B0B8FF;
    margin: 8px;
    padding: 8px;
    border-radius: 2px;
    border-style: solid;
    border-width: medium;
    border-color: blue;
}
