		header.my_header {
			text-align: center;
			color: #ffdd30;
			background-color:#4040E0;
			width: 100%;
			max-height: 96px;
			min-height: 96px;
			overflow: hidden;
			position: fixed;
			top: 0;
		}
	
		nav.my_sidebar {
			display: none;
		}
	
		nav.my_navbar {
			/*display: none;*/
		}
	
		ul.my_navbar {
			/*display: none;*/
			
			
			text-align: right;
			list-style-type: none;
			display: block;
			font-size: 14px;
			margin-top: 0px;
			margin-right: 8px;
		
		
		}
	
		h1.my_navbar {
			display: none;
			
			/*text-align: center;
			float: left;
			list-style-type: none;
			display: inline-block;
			font-size: 32px;
			padding: 0px 32px 0px 32px;*/
		
		}
	
	
	
	
		/*li.my_navbar {
			list-style-type: none;
			background-color: #303048;
			display: inline;
			padding: 4px;
			margin: 0px;
			float: right;
			border: 2px solid black;
		}
	
		li.my_navbar:hover {
			background-color: #202030;
			border-radius: 0;
			float: right;
			margin: 0px;
		}*/
	
	
		li.my_navbar {
			list-style-type: none;
			background-color: #303048;
			display: inline;
			padding: 4px;
			margin: 0px;
			float: right;
			border: 2px solid black;
		}
	
		li.my_navbar:hover {
			background-color: #202030;
			border-radius: 0;
			float: right;
			margin: 0px;
		}
		
		ul.my_sidebar {
			list-style-type: none;
		}
	
		li.my_sidebar {
			list-style-type: none;
		}
		
		section.my_main_section {
			max-width: 100%;
			float: left;
			padding: 16px;
			margin-top: 80px;
		}
		
		footer.my_footer {			
			width: 80%;
			float: right;
			padding: 64px;		
		}
		
		.my_dropper {
			display: inline-block;
		}
		
		.my_dropdown {
			display: none;
			position: fixed;
			background-color: #C0C8ff;
			margin-left: 0px;
			border: 2px solid black;
			padding: 0;
			z-index: 1;
			top: 26px;
		}
		
		.my_dropper:hover .my_dropdown {
			display: block;
		}
		
		.my_dropped_item {
			list-style-type: none;
			color: black;
			text-align: left;
			border: 1px solid black;
			padding: 8px;
		}
		
		.my_droplist_div {
			color: black;
			text-align: left;
			border: 2px solid black;
			padding: 0;
			margin: 1px 0px 1px 0px;		}
		
		a.my_dropdown_link {
			color: black;
			text-align: left;
			text-decoration: none;
		}
		
		.my_dropped_item:hover {
			background-color: #8080ee;		  
		}
		
		img.my_menu_ico {
			/*position: relative;
			float: left;
			padding: 12px;*/
			display: none;
		}
		
		img.my_ferret_ico {
			display: none;
		}
		
		img.my_ferret_text {
			max-width: 25%;
			min-width: 64px;
			float: left; 
			padding: 12px 0px 12px 12px;
		}
	
		img.my_menu_ico:hover nav.my_navbar {
			display: block;
			position: absolute;
			z-index: 1;
			width: 180px;
			height: 100%;
			background-color: #A0A8C8;
			color: #000000;
			overflow: auto;
			float: left;
			padding: 12px;
			text-align: left;
		}
