<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="My first Flask Site">
  <meta name="author" content="Jared Blackburn">  
  <title>{% block title %}{% endblock %}</title>
  <link href="{{ url_for('static', filename='css/DesktopCSS.css') }}" rel="stylesheet" media="only screen and (min-width: 700px)"> 
  <link href="{{ url_for('static', filename='css/MobileCSS.css') }}" rel="stylesheet" media=" only screen and (max-width: 699px)"> 
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/FerretButton.png') }}">
  {% endblock %}
<head>

<body>
  <header class="my_header">
    <a href="/"><img class="my_ferret_ico" src="{{ url_for('static', filename='img/FerretR.png') }}"></a>
    <img class="my_menu_ico" src="{{ url_for('static', filename='img/MenuIco.png') }}">
    <h1 class="my_navbar">Knight Ferret!</h1>
    <a href="/"><img class="my_ferret_text" src="{{ url_for('static', filename='img/FerretRText.png') }}"></a>
    <nav class="my_navbar">
      <ul class="my_navbar">
	<div class="my_dropper">
	  <li class="my_navbar">Software</li>
	    <div class="my_dropdown">
	      <li class="my_dropped_item"><a href="/projects/" class="my_dropdown_link">Software Projects</a></li>
	      <li class="my_dropped_item"><a href="https://github.com/BlackJar72" class="my_dropdown_link" 
		  target="_new">GitHub (external)</a></li>
	      <hr class="my_droplist_div" />
	      <li class="my_dropped_item"><a href="/contact/" class="my_dropdown_link">Contact</a></li>
	    </div>
	</div>
	<div class="my_dropper">
	  <li class="my_navbar">Personal</li>
	    <div class="my_dropdown">
	      <li class="my_dropped_item"><a href="/poetry/" class="my_dropdown_link">Poetry</a></li>
	      <li class="my_dropped_item"><a href="/music/" class="my_dropdown_link">Music</a></li>
	      <li class="my_dropped_item"><a href="/bio/" class="my_dropdown_link">Bio</a></li>
	      <hr class="my_droplist_div" />
	      <li class="my_dropped_item"><a href="/resume/" class="my_dropdown_link">Resume</a></li>
	    </div>
	</div>
      </ul>
    </nav>
  </header>

	<nav class="my_sidebar">
		<img style="bottom: 96px; position: absolute; float: left; left: 0px; width: 100%;" 
		     src="{{ url_for('static', filename='img/FerretoniaS.gif') }}">
	</nav>

	{% block body %}
	{# <!-- CONTENT HERE --> #}
	{% endblock %}




<!--Canned Scripts-->

<!--script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script-->

</body>
</html>
