{% extends "base.html" %}
{% block title %}Welcome to KnightFerret Software{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
  <section class="my_main_section">
    <h4>A Short History of my Life</h4>
    <p>Fall of 1972, in a place that is no more, I'm born; it was Fort Ord army hospital, 
    on a base that has long since been closed.  My father, a young air force recruit, was 
    there in California to study the Albanian language at The Presidio.  Within a few 
    months we were off to Italy, for dad, a self-described hillbilly from Kentucky, to 
    spy on the airwaves, listening to static in case the Albanians sent out a message on 
    that channel.  From there we moved many times; I have a sister who was born in Ohio, 
    and can remember living in Arizona, England, Florida, and New Mexico as a child, 
    before moving to Tennessee just in time to start high school.</p>

    <p>Growing up I had many interests, especially scientific interests.  Many thought I'd 
    grow up to be a physicist, or many a chemist or engineer.  I also, starting in the early '80's, 
    was known for being talented with computers.  My first projects included modding the game 
    Telengard and trying to create my own arcade space-shooter in basic (which might have been 
    more successful if my eight- or nine-year-old brain had been able to work out collision detection).</p>

    <p>After high school I took a different road.  Tired of being a "nerd" and wanting to be 
    more of a people person I explored a variety of college majors and career options.  I finally 
    settled on a plan to become a clinical neuropsychologist and went on to complete a Master of 
    Arts in psychology.  Unfortunately, I found that due to changes in the law that had happened 
    recently I would not be able to get a health providers license with my degree, which is 
    technically in experimental (aka, research) psychology.  I dropped out of graduate school 
    half way between my Masters and Ph.D., and began working.  I really didn't want to be a 
    researcher; I actually had no idea what I wanted to research, I guess nothing in particular.</p>

    <p>Near the end of my time in psychology, realizing I couldn't practice clinically with my 
    degree, and not wanting to be a researcher, I picked up a few information technology certifications.  
    Through self-study I was able to get A+, Network+, and the now defunct i-Net+.  However, 
    I wasn't able to get a job with these, and have since been told that advertising my education probably 
    hurt me in apply for the relatively low-level positions I was finding.  And let's be real, I had no 
    idea how to conduct a job search or write a resume.  So instead I worked fulltime at the local 
    grocery store for many years.</p>

    <p>Fast forward a bit, and I found myself out of that job, and lacking rent.  I had to return to live 
    in my mother's house, vacant as she was now acting as my grandmother's caretaker and living with her.  
    I spent a couple years teaching psychology as an adjunct at a local community college before being laid-off 
    to make room for more full time instructors, a position my master's degree did not make me competitive for.</p>

    <p>It was during this time that my interest in technology, especially software development, was rekindled, 
    thank a lot to Minecraft.  I first went for a one-of project of making my own game, intended to be something 
    in between a city builder and The Sims (or, what SimCity Societies should have been, I'd sometimes say).  
    Though this was far too big a (re-)starter project, I did manage to get a 3D rendering engine working that a "player"
    could fly through – all working from scratch in Java.  After this I switched to modding Minecraft and make 
    small desktop applications and arcade-style games, no longs as one-off projects, but now as a serious hobby. 
    Yes, still as a hobby, but a serious one.  Then I began to realize I'd been progressing fast, learning a lot, 
    and perhaps should consider taking this seriously as a possibly career.  Not able to afford degree in computer 
    science, all major financial aid source having been used up for me long ago.  So I began serious self-study, 
    looking into the possibility of freelancing to build a resume, and ultimately, when back to technical school 
    for a computer information technology certificate program.</p>

    <p>As for what now … well, I'm waiting to see.</p>

  </section>
{% endblock %}
