{% extends "base.html" %}
{% block title %}Welcome to KnightFerret Software{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
  <section class="my_main_section">
  <h1>Send Me a Message: </h1>  
  <div class="my_contact_form">
    <form action="/sendmail/" method="post">
      Your Name: <input type="text" name="name"><br />
      Your Email: <input type="email" name="email"><br />
      Title: <input type="text" name="title"><br />
      Message:<br />
      <textarea name="body" rows="12" class="my_mail_textarea"></textarea><br />
      <input type="submit" value="Send">
    </form>
  </div>
    
    <br /><hr /> <br />
    
  <h2>Find me Elsewhere Online: </h2>
  <ul>
  <li><a href="https://github.com/BlackJar72">GitHub</li>
  <li><a href="https://www.hackerrank.com/blackjar72">Hacker Rank</li>
  <li><a href="https://www.linkedin.com/in/jared-blackburn-49570674/">LinkedIn</li>
  <li><a href="https://www.youtube.com/channel/UC0wFanYBEc114-CtQ3lVX-A">You Tube</li>
  <li><a href="http://soundcloud.com/blackjar72">SoundCloud</li>
  </ul>
    
  </section>
{% endblock %}
