{% extends "base.html" %}
{% block title %}Welcome to KnightFerret Software{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
  <section class="my_main_section">
  <h1>Send Me a Message: </h1>  
  <div class="my_contact_form">
    <form action="/sendmail/" method="post">
      Your Name: <input type="text" name="name"><br />
      Your Email: <input type="email" name="email"><br />
      Title: <input type="text" name="title"><br />
      Message:<br />
      <textarea name="body" rows="12" class="my_mail_textarea"></textarea><br />
      <input type="submit" value="Send">
    </form>
  </div>
    
    <br /><hr /> <br />
    
    <p>This site was a learning project, nothing more, to try to develop skils
    that would allow me to get a paying job as a developer (I need a income). 
    Unfortunately, I just can't keep up; I'm so far behind and things keep 
    changing faster than I'm able to learn them.  I've become obsolete.</P
    
  </section>
{% endblock %}
