{% extends "base.html" %}
{% block title %}Welcome to KnightFerret Studios{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
  <section class="my_main_section">
    <h4>Welcome to KnightFerret Studios!</h4>
    
    <p>Welcome to KnightFerret Game Studios.  When not working on our my 
    games I make assets for your games.</p>
    
    <p>Wether you are a gamer or a game developer, please feel free to browse 
    the selection of games and game assets.  I am a new developer, with one
    Steam release and am beginning to add game creation assets. There should 
    be more to come as time goes by.</p>
  </section>

{% endblock %}
