{% extends "base.html" %}
{% block title %}Welcome to KnightFerret Studios{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
  <section class="my_main_section">
    <h4>Welcome to KnightFerret Games!</h4>
    
    <p>Welcome to KnightFerret Games.  When not working on my
    games I make assets for your games.</p>
    
    <p>Wether you are a gamer or a game developer, please feel free to browse 
    the selection of games and game assets.  I am a new developer, with one
    Steam release and am beginning to sell game creation assets on the Unity
    Asset Store. I share my table top RPG adventures as free PDFs for those
    interested.  There should be more to come as time goes by.</p>

    <p>No, this is not a corporation. I'm not sure I'd even say I am (or have)
    a business, just a geek with an interest in making games.  Having said that,
    I'm not sure if I want to keep this domain or not as recent web searches
    reveal that the name has been co-opted by some fury, and I'd rather avoid
    any mistaken identity relating to that; I'm not sure how hard it would be to
    change that on the Unity store though or if it can even be done.</p>
  </section>

{% endblock %}
