<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="My first Flask Site">
  <meta name="author" content="Jared Blackburn">  
  <title>Welcome to my Webpage</title>
  <!--link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"-->
  <link href="{{ url_for('static', filename='css/MyCSS.css') }}" rel="stylesheet"> 
  <link rel="shortcut icon" href="{{ url_for('static', filename='crown.png') }}">
<head>

<body>
  <header class="my_header">
    <nav class="my_navbar">
      <ul class="my_navbar">
	<li style="float: left; padding: 0; margin: 0;">
	  <img style="float: left;" src="{{ url_for('static', filename='img/FerretR.png') }}"></li>
	<li class="my_navbar">Not Really a Link</li>
	<li class="my_navbar">Also Not a Link</li>
	<li class="my_navbar">Still Not a Link</li>
      </ul>
    </nav>
    <h1 class="my_header">Knight Ferret!</h1>
  </header>

	<nav class="my_sidebar">
		<!--TODO-->
		<em><strong>TODO!</strong></em>
	</nav>

	<section class="my_main_section">
		<h4>Content!</h4>
		<p>Hey, how's it going...?</p>
	</section>




<!--Canned Scripts-->

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>
</html>
