{% extends "base.html" %}
{% block title %}Welcome to KnightFerret Software{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
  <section class="my_main_section">

  <a name="desttop"/>
  <h2>Web Applications</h2>
  
  <!-- It would be better if I could use <h4 style="display: inline;"> instead of <b>, as that 
  would give sematicly valid information.  However, "display: inline;" doesn't work with content 
  header tags (googling this finds plenty of pages by people who think it does, but testing on 
  5 different browsers show that is doesn't work on any of them).  Some would use <strong>, however 
  that  would actually be worse as it implies inacurate semantic information ("strong emphasis") which 
  is worse than none at all.  Thus, <b> will be used for the specific entry titles. -->
  
  <a name="desttop"/>
  <h2>Desktop Applications</h2>

  <p><b>Digit Span Tester:</b>  A small Java application designed to perform automated tests of human 
  working memory.  This was intended as a research tool for the fields of cognitive science 
  and neuroscience; for example, to stimulate working memory and attention while recording 
  brain wave activity for quantitative electroencephalographic analysis. My first useful desktop app, 
  definitely not my best code, but it has been used in real research by several researchres.
  <br style="text-align: right; text-indent: 64px;"/>[<a href="https://sourceforge.net/projects/digitspantester/">SourceForge Page</a>]
  <br style="text-align: right; text-indent: 64px;"/>[<a href="https://github.com/BlackJar72/Digit-Span-Tester">Source Code on GitHub</a>]</p>

  <p><b>QflashCards</b> (may be renamed due unintended use of an existing name): A small C++ / Qt 
  application intended as a study tool.  Please forgive the use of '90's style html for its 
  help and about screens.
  <br style="text-align: right; text-indent: 64px;"/>[<a href="https://sourceforge.net/projects/qflashcards/">SourceForge Page</a>]
  <br style="text-align: right; text-indent: 64px;"/>[<a href="https://github.com/BlackJar72/QFlashCards">Source Code on GitHub</a>]</p>

  <p><b>ProcGenLab:</b> A Java Application for experimenting and prototyping in procedural content 
  generation, especially of location maps and pixel / voxel graphics.
  <br style="text-align: right; text-indent: 64px;"/>[<a href="https://github.com/BlackJar72/ProcGenLab">Source Code on GitHub</a>]</p>

  <span class="anchor" id="section1"></span>
  <a name="games"/><br /><hr />
  
  <h2>Games / Mods</h2>
  
  <h3>Java Arcade-Style Games</h3>

  <p><b>Macy Mae's Eating Adventure:</b> An arcade maze chase (or “cop and robbers”) game.  Play as a cat 
  (Macy Mae) trying to eat all the kibbles, salmon, birds, and rodents while being chase by will-o-wisps.
  <br style="text-align: right; text-indent: 64px;"/>[<a href="https://jaredbgreat.itch.io/macy-maes-eating-adventure">Itch.io Page</a>]
  <br style="text-align: right; text-indent: 64px;"/>[<a href="https://github.com/BlackJar72/MacyMae">Source Code on GitHub</a>]</p>

  <p><b>Ship Swarm Shoot-Up:</b> A small, simple arcade space shooter.
  <br style="text-align: right; text-indent: 64px;"/>[<a href="https://jaredbgreat.itch.io/ship-swarm-shoot-up">Itch.io Page</a>]
  <br style="text-align: right; text-indent: 64px;"/>[<a href="https://github.com/BlackJar72/ShipSwarmShootup">Source Code on GitHub</a>]</p>

  <h3>Mods</h3>

  <p><b>Doomlike Dungeons:</b> A procedural dungeon generator which create huge multiroom dungeons in the style 
  of retro first person shooter levels.
  <br style="text-align: right; text-indent: 64px;"/>[<a href="https://minecraft.curseforge.com/projects/project-74246?gameCategorySlug=mc-mods&projectID=74246">Curseforge Page</a>]
  <br style="text-align: right; text-indent: 64px;"/>[<a href="https://www.minecraftforum.net/forums/mapping-and-modding-java-edition/minecraft-mods/1293843-doomlike-dungeons">Forum's Page</a>]
  <br style="text-align: right; text-indent: 64px;"/>[<a href="https://github.com/BlackJar72/DoomlikeDungeons">Source Code on GitHub</a>]</p>

  <p><b>Climatic Biomes:</b> A an alternate biome provider written from scratch.  Rather than relying 
  heavily and random noise fields, it uses fields of attraction to areas of land/water, hot/cold, and wet 
  dry.  Large islands (“continents”) are generated based and landiness, then realistic biomes classifications 
  are determined from climate data and game “biomes” are selected based on those.
  <br style="text-align: right; text-indent: 64px;"/>[<a href="https://minecraft.curseforge.com/projects/climatic-biome-placement">Curseforge Page</a>]
  <br style="text-align: right; text-indent: 64px;"/>[<a href="https://github.com/BlackJar72/ClimaticBiomePlacement">Source Code on GitHub</a>]</p>

  <p><b>Mob Drop Stopper</b> A very small Bukkit plugin which eliminates or replaces items dropped by mobs, originally 
  created to cover up a bug in Cauldron.
  <br style="text-align: right; text-indent: 64px;"/>[<a href="https://dev.bukkit.org/projects/mob-drop-stopper">BukkitDev Page</a>]
  <br style="text-align: right; text-indent: 64px;"/>[<a href="https://github.com/BlackJar72/MobDropStopper">Source Code on GitHub</a>]</p>

  <span class="anchor" id="section1"></span>
  <a name="games"/><br /><hr />
  
  <h2>Ancient History</h2>

  <p><b>Htmlpp:</b>  Supposedly an “html pre-processor” (no relation to php), this was a very small, simple commandline 
  utility that acted as macro / templating system for off-line generation of html files.
  <br style="text-align: right; text-indent: 64px;"/>[<a href="https://github.com/BlackJar72/MyLibraries/blob/master/Utilities/0ld/htmlpp.1-2.cpp">Source Code on GitHub</a>]</p>

  
  </section>
{% endblock %}
 
