{% extends "base.html" %}
{% block title %}Welcome to KnightFerret Software{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block body %}

	<section class="my_main_section">

	  <h1>Jared Blackburn</h1>

	  <article>
	  <h3>Education</h3>

	    <p><b>Tennessee College of Appied Technology</b>, Morristown, TN<br />	    
	    Computer Information Technology Certifications, in progress</p>

	    <p><b>The University of Tennessee</b>, Knoxville, TN<br />
	    M.A. in Psychology, December 2001<br />
	    Thesis Title: <i>“Quantitative Electroencephalographic Analysis of Children and Adolescents with Attention Deficit 
	    / Hyperactivity Disorder Compared with Non-Clinical Controls: Diagnostic Implications”</i><br />
	    Thesis Advisor: Joel F. Lubar, Ph.D.</p>

	    <p><b>The University of Tennessee</b>, Knoxville, TN<br />
	    B.A. in Psychology, August 1998<br />
	    With Honors, Cum Laude</p>

	    <p><b>Walters State Community College</b>, Morristown, TN<br />
	    A.S. in Elementary Education, December 1996</p>

	  </article>
	  <article>
	  
	  <h3>Technical Certifications:</h3>
	  
	    <ul>
	      <li><b>A+</b> Computer Technician (June 2000): Verification Code NER0F9JEFS5RHVD2</li>
	      <li><b>i-Net+</b> Internet Professional (June 2000): Verification Code H17R7BQNEDQ4QHS3</li>
	      <li><b>Network+</b> Network Technician (June 2000): Verification Code G3P3LSLD7XPFNXS7</li>
	      <li><b>Security+</b> Security Professional (April 2018): Verification Code QZY4FS90RQ30FRKR</li>
	    </ul>

	  </article>
	  <article>
	    
	    <h3>Technical Skills:</h3>

	    <ul>
	      <li>Programming in Java and C++</li>
	      <li>Currently learning Python, JavaScript, and C#</li>
	      <li>Object Orient Design</li>
	      <li>Computer Maintenance</li>
	      <li>Basic Networking</li>
	      <li>Data Security</li>
	      <li>Linux and Microsoft Window</li>
	    </ul>
	    
	    <p><b>Programming Projects Online at:</b> 
	    <a href="http://www.github.com/BlackJar72/" target="_blank">http://www.github.com/BlackJar72/</a></P>

	  </article>
	  <article>
	  
	  <h3>Employment</h3>

	    <p><b>Ingles Markets</b> <br />
	    Deli Clerk slicking lunch meat, food preparation, cleaning, washing dishes <br />
	    August 2016 to March 2017 </p>
	    
	    <p><b>Walmart Supercenter</b> <br />
	    Sales Associate in Produce: Customer assistance, stocking shelves, cleaning, and culling <br />
	    January 2015 to April 2015 </p>
	    
	    <p><b>Walmart Supercenter</b> <br />
	    Night Stocker (seasonal) <br />
	    November 2013 to December 2013 </p>
	    
	    <p><b>Walters State Community College: Psychology Department</b> <br />
	    Adjunct Instructor: Lecturing, grading, planning syllabi, designing  classroom materials <br />
	    August 2011 – May 2013 </p>
	    
	    <p><b>Weigel's Convenience Stores</b> <br />
	    Stock Associate: Cleaning the store and parking lot; stocking the cooler <br />
	    05/11/2011 through 09/30/2011 </p>
	    	    
	    <p><b>U.S. Department of Commerce:</b> Bureau of the Census <br />
	    Enumerator (Census Taker): Gathering demographic data door-to-door and by telephone <br />
	    03/23/2010 through 06/10/2010 </p>
	    
	    <p><b>The University of Tennessee:</b> Department of Audiology and Speech Pathology <br />
	    Workstudy: Filing, retrieving, and creating patient folders for the audiology clinic; 
	    calling patients with appointment reminders; general clerical and errand running <br />
	    Summer 2008 through November 2008 </p>
	    
	    <p><b>Food City (K-VA-T): Store # 682</b> <br />
	    Produce Helper Customer assistance, stocking shelves, cleaning, food preparation, and culling <br />
	    November 2001 through August 2006 </p>
	    
	    <p><b>The University of Tennessee: Psychology Department</b> <br />
	    Graduate Assistant: Scientific data analysis; computer repair, upgrading, and networking <br />
	    August 1998 through March 2002</p>
	    
	    <p><b>Subway Sandwiches &amp; Salads</b> <br />
	    Sandwich Artis: Cash register, food preparation, cleaning, <br />
	    February 1998 through December 1998 </p>
	    
	    <p><b>Pizza Hut</b> <br />
	    Crew Member: Cleaning restaurant, washing dishes, and food preparation <br />
	    November 1994 through December 1996 </p>
	    
	    <p><b>Walters State Community College</b>: Mathematics Department <br />
	    Workstudy: Tutoring other students in math and statistics. <br />
	    October 1993 through May 1995 </p>
	    
	    <p><b>Food City (K-VA-T)</b> <br />
	    Courtesy Clerk: Bagging groceries, gathering buggies, assisting customers, cleaning <br />
	    June 1994 through July 1994	 </p>
	    
	    <p><b>Roy Widener Motor Lines</b> <br />
	    Data Entry: Inputing routing and cargo information and printing shipping manifests <br />
	    March 1993 though May 1993 </p>
	  
	</section>

{% endblock %}