{% extends "base.html" %}
{% block title %}Welcome to KnightFerret Software{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
  <section class="my_main_section">
    
    <h1>Table-Top Adventures (OSR)</h1>
    
    <h3>Castle Van Web</h3>
    
    <p>Castle va Webb is a starter adventure created primarily for the BECMI edtion of D&amp;D, but also suitable
    for B/X or Old School Essentials; when using systems other than BECMI, some creature that are codified in 
    BECMI work as special monsters. It is designed for 2-4 players with level 1 characters, especially those 
    new to table-top RPGs or old school gaming. It can be completed in one or two sessions. It is available 
    for free download as a PDF.  Note that assending armor classes are for Basic Fantasy RPG, <strong>not</strong> 
    OSE.</p>
    
    <p><li><a href="{{ url_for('static', filename='files/CastleVanWebb-2023.pdf') }}">Castle van Webb</a></li></li></p>

    <h3>Skirfir's Mine: Dungeon Adventure Sandbox for BECMI, B/X, and OSE</h3>
    
    <p>Skirfir the Dwarf Lord was a great Dwarf, he led his people to a new home, dug a great mine and city within the mountain ... then everything fell apart, a plague, a famine, an orc invasion ... and Skifir and his clan were gone, and the location of his mine lost.  Lost, until you found a long, lost map to its location.</p>

    <p>Skirfir's mine in a low-level mini-campaign for 2-4 players and character's level 1-3.  Its a self-contained, indoor sandbox, from which many different stories may emerge.  It provides a small "megadungeon" to take player characters from level 1 to level 4, when they should be ready to explore the wider world.  As for that world, Skirfir's mine is not tied to any published setting, and has no canon location in any of them, and can easily be dropped into an existing world.</p>

    <p>This is adventure is design for use with BECMI, B/X, and compatible retroclones, design with a classic feel in mind.</p>
    
    
    <p>Skirfir's Mine is available as a free PDF, in print as a traditional book:</p>
        
    
    <p><li><a href="{{ url_for('static', filename='files/SkirfirsMine.pdf') }}">
    Skirfir's Mine - free PDF</a></li></li></p>
    
    <p><li><a href="https://www.lulu.com/shop/jared-blackburn/skirfirs-mine/paperback/product-65qenrz.html">
    Skirfir's Mine - printed book</a></li></li></p>
 
 </section>
{% endblock %}
